@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.cover-image {
    height: 38vh;
    object-fit: cover;
    object-position: top;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    font-size: 1rem;
    justify-content: flex-end;
    padding: 1.2em;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    margin: 0;
    align-items: center;
}

nav a {
    margin-right: 5.4em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#main-heading {
    letter-spacing: 2px;
    font-size: 2.7rem;
    margin-bottom: .3em;
}

#cover-image {
    width: 100%;
    object-fit: cover;
}

.cover-image {
    width: 100%;
}

#cookies {
    display: none;
    width: 100%;
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 3em auto;
    width: 70%;
    padding: 2.5em 2em;
    text-align: center;
    background-color: #f1f1f1;
}

#logo {
    max-width: 20%;
    margin: 0 auto;
}

.catch-frase {
    font-size: 1.3rem;
    margin-top: 0;
}

#cta {
    padding: .8em 1.4em;
    background-color: #f7ba4a;
    color:black;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: .2s linear;
}

#cta:hover, #cta:focus {
    transform: scale(1.03);
    background-color: #e99908;
}

footer {
    display: flex;
    margin-top: auto; 
    background-color: rgba(0,0,0,0.9);
    color: white;
    justify-content: space-evenly;
    line-height: 1.6;
}

.footer-columns {
    width: 14%;
    text-align: center;
}


@media(min-width: 680px) {
    .container {
        flex-direction: row;
    }
    .cover-image {
        height: 100vh;
        width: 100%;
        mix-blend-mode: multiply;
    }
    .cookies {
         height: 100vh; 
        width: 100%; 
        object-fit: cover;
        object-position: top; 
        mix-blend-mode: multiply;
    }
    #cookies {
        height: 100vh;
        width: 47%;
        cursor: pointer;
    }
    #cover-image {
        height: 100vh;
        width: 45%;
        cursor: pointer;
        transition: all 1.3s ease-in-out;
        position: relative;
    }
    .img-container {
        background-color: gray;
    }
    .drop-1-start {
        top: -50px;
        left: 5%;
        transition: 1s ease-out;
        transition-delay: .2s;
    }
    .drop-2-start {
        top: -50px;
        left: 5%;
        transition: 1s ease-out;
        transition-delay: .6s;
    }
    .drop-3-start {
        top: -50px;
        left: 5%;
        transition: 1s ease-out;
        transition-delay: 1s;
    }    
    .drop-1-end {
        top: 12%;
        left: 5%;
    }
    .drop-2-end {
        top: 18%;
        left: 5%;
    }
    .drop-3-end {
        top: 24%;
        left: 5%;
    }
    .drop-1-start, .drop-2-start, .drop-3-start {
        position: absolute;
        color: white;
        font-size: 1.3rem;
    }
    .drop-1-end, .drop-2-end, .drop-3-end {
        position: absolute;
        color: white;
        font-size: 1.3rem;
    }
    .arrow {
        color: white;
        font-size: 26px;
        margin-right: auto;
        transition: all 1s ease-in-out;
    }
    .flash {
        color: #e99908;
    }
}